
#cabeceraHOL{
  margin-top: 70px;
}

.tituloHOL{
  font-size: calc(15px + (40 - 15) * ((100vmin - 350px) / (1080 - 350)));
}

.descripcionHOL{
  font-size: calc(10px + (35 - 10) * ((100vmin - 350px) / (1080 - 350)));
}

.esconderBoton{
  visibility: hidden;
}


.botonesHOL{
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}


#informacion_imagen_d {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  right: 50%;
  left: 50%;
  bottom: 0;
  font-weight: bold; 
  color: black;
  white-space: nowrap;
}

#informacion_imagen_i {
  position: absolute;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  right: 50%;
  left: 50%;
  bottom: 0;
  font-weight: bold; 
  color: black;
  white-space: nowrap;
}


.card-text{
  
  font-size: calc(10px + (25 - 10) * ((100vmin - 350px) / (1080 - 350)));
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur(7.5px);

  
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18);

  border-radius: 4%;

  transition: ease-in-out;
  transition-duration: 150ms; 

  max-width: calc(300px + (600 - 300) * ((100vmin - 350px) / (1080 - 350)))
}

.card-text:hover
{
    transition-duration: 300ms;
    color: black;
    text-shadow: 0 0 2em black;
}


.custom-buttonHOL {
  padding: 5px 15px;
  font-size:  calc(7px + (20 - 7) * ((100vmin - 350px) / (1080 - 350)));
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.custom-buttonHOL:hover {
  transition-duration: 300ms;
  color: #ffffff;
  text-shadow: 0 0 2em #ffffff;
}

@media only screen and (max-width: 475px) {
  .imagenesHOL{
    flex-direction: column;
  }

  .imagenHOL{
    height: auto;
  }

  #informacion_imagen_i{
    top: 0;
    bottom: auto;
  }

  .card-text{
    font-size: calc(8px + (23 - 8) * ((100vmin - 350px) / (1080 - 350)));
  }
}

@media only screen and (max-height: 350px) {
  .imagenesHOL{
    flex-direction: row;
  }

  .containerHOL{
    width: 34vw;
  }

  #sosHOL{
    right: 79%;
    left: auto!important;
  }

  #keyboardHOL{
    left: 79%;
    right: auto!important;
}

  #informacion_imagen_i{
    top: auto;
    bottom: 0;
  }
}

@media only screen and ((max-width: 475px) and (max-height: 650px)) {
  .imagenesHOL{
    flex-direction: row;
  }

  .imagenHOL{
    height: auto;
  }

  #informacion_imagen_i{
    top: auto;
    bottom: 0;
  }
  
}



.icon-animation{
  animation: fadeIcon 2s ease forwards;
}

@keyframes fadeIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growAndShrinkHOL {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.puntuacionHOL{
  animation: growAndShrinkHOL 0.5s ease;
}

#sosHOL{
  left: 0; 
  top: 70%; 
  transform: translateY(-50%); 
  margin-left: 1%;
}


#keyboardHOL{
  right: 0; 
  top: 70%; 
  transform: translateY(-50%); 
  margin-right: 1%;
}

#anunciosHOL{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
