.gameHOL{
  flex-direction: column;
}

.cabeceraHOL{
  position: relative;
  top: 10%;
}

.botonesHOL{
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;

}


#informacion_imagen_d {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  right: 50%;
  left: 50%;
  bottom: 0;
  font-weight: bold; 
  color: black;
  white-space: nowrap;
  z-index: 1;
}

#informacion_imagen_i {
  position: absolute;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  right: 50%;
  left: 50%;
  bottom: 0;
  font-weight: bold; 
  color: black;
  white-space: nowrap;
  z-index: 1;
}


.card-text{
  
  background: rgba(255, 255, 255, 0.641);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur(7.5px);

  
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18);

  border-radius: 4%;
  border: 1px solid rgba( 0, 0, 0, 0.3);
  z-index: 4;

  transition: ease-in-out;
  transition-duration: 150ms; 

  max-width: calc(400px + (600 - 400) * ((100vmin - 350px) / (1080 - 350)))
}

.card-text:hover
{
    transition-duration: 300ms;
    color: black;
    text-shadow: 0 0 2em black;
}


.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  transition-duration: 300ms;
  color: #ffffff;
  text-shadow: 0 0 2em #ffffff;
}

@media only screen and (max-width: 660px) {
  .imagenesHOL{
    flex-direction: column;
  }

  .imagenHOL{
    width: 100vw;
    height: auto;
  }

  #informacion_imagen_i{
    top: 0;
    bottom: auto;
  }
}


.icon-animation{
  animation: fadeIcon 2s ease forwards;
}

@keyframes fadeIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growAndShrinkHOL {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
  }
}

.puntuacionHOL{
  animation: growAndShrink 0.5s ease;
}
