.zoneContainer {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 100%;
  height: 100%;
}

.zoneContentMont {
  background-image: url('src/assets/Mountain/fondomont.png');

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%;
    height: 100%;
  }
  
