.gridSection {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gridCard {
  overflow: hidden;
  width: auto;
  height: auto;
}

.gridCard video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frontCard {
  width: 100%;
  height: 100%;
  position: relative;
}

.textCard {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-shrink: 1;
}

.gridCard a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@keyframes shake {
  0% {
      transform: rotateZ(0deg);
  }
  25% {
      transform: rotateZ(-10deg);
  }
  50% {
      transform: rotateZ(10deg);
  }
  75% {
      transform: rotateZ(-5deg);
  }
  100% {
      transform: rotateZ(0deg);
  }
}

.sobrevive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fogata {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 32vh; /* Tamaño más grande fuera de la media query */
  aspect-ratio: 1;
  margin-bottom: 2%;
}

.fogata img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shake-animation {
  animation: shake 0.65s;
}


@media only screen and (max-width: 500px) {
  .gridSection {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
  }
  .fogata {
    /* max-height: 125px;  */
    max-height: 12vh; 

    padding-bottom: 2%;
}
}

.sobrevive h1{
  position: absolute;
  margin: 0 !important;
  font-size: calc(20px + (70 - 20) * ((100vmin - 350px) / (1080 - 350)));
  top: 0;
}

