
/* TIPOGRAFIAS */

@font-face {
    font-family: Noto_Serif_B;
    src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-Black.otf');
    /*src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-Bold.otf');
    src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-ExtraLight.otf');
    src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-Light.otf'); */
    /* src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf');
    src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-SemiBold.otf');
 */
 
}

@font-face {
    font-family: Noto_Serif_M;
    src: url('../../public/Fonts/Noto_Serif_KR/NotoSerifKR-Medium.otf');
}

/* SECCION DEL VIDEO */


.imgFlechaScroll{
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 50px;
    width: 50px;
    padding-bottom: 20px;
} 

.startArticle{
    left: 0;
    padding-left: 5vw;
}

#typeWriteText{
    padding-top: 20vh; 
    font-style: italic;
    font-weight: bold;
    font-size:  calc(30px + (65 - 30) * ((100vmin - 350px) / (1080 - 350)));
}
  
#resilencia{
    padding-top: 20px;
    padding-left: 8px;
    width: 30px;
    font-size:  calc(22px + (45 - 22) * ((100vmin - 350px) / (1080 - 350)));
    font-family: 'Noto_Serif_B', NotoSerifKR-Black
}

#resilenciaDefinition{
    padding-top: 5px;
    padding-left: 8px;
    width: 40vw;
    font-size:  calc(14px + (30 - 14) * ((100vmin - 350px) / (1080 - 350)));
    font-family: 'Noto_Serif_M',NotoSerifKR-Medium;
}

@media screen and (max-width: 600px) {
    #resilenciaDefinition{
        width: 80vw;
    }
}
