.sliderTips{
    width: 60%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderTips img{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    object-fit: cover;
}

.sliderTips h3{
    text-align: center;
}