#infoSection a{
    display: block;
}

#FaqDiv{
    position: relative;
    top: 10%;
    overflow: auto;
}
/*About Us*/

/*Containers*/

#titleContainer{
    height: auto;
}

#imgContainer{
    height: auto;
}

/* Fin Containers*/ 

#imgContainer img{
    object-fit: contain;
    height: auto;
}

.fontControlAboutUs{
    font-size: calc(20px + (64 - 20) * ((100vmin - 350px) / (1080 - 350)));
} 

.fontControlAboutUsAPND{
    max-width: calc(250px + (550 - 250) * ((100vmin - 350px) / (1080 - 350)));
} 

.fontControlInfoSection{
    font-size: calc(10px + (20 - 10) * ((100vmin - 350px) / (1080 - 350)));
}

.fontControlInfoSectionh5{
    font-size: calc(20px + (30 - 20) * ((100vmin - 350px) / (1080 - 350)));
}

#container{
    width: 70%;
    height: 90%;
    top: 10%;
}

/* Fin About Us*/