#infoSection{
    background-color: #F5F5F5;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 70px;
}

#infoSection a{
    display: block;
    text-decoration: none;
    margin-bottom: -10px;
}

#infoSection h5{
    padding-bottom: 20px;
}

#socialNetWorkDisplayer{
    display: flex;
    justify-content: space-around;
}

#FaqDiv{
    position: relative;
    top: 0;
}

#imgContainer img{
    max-width: calc(400px + (650 - 400) * ((100vmin - 350px) / (1080 - 350)));
    height: auto;
}

.fontControl{
    /*max-min*/
    font-size: calc(14px + (30 - 14) * ((100vmin - 350px) / (1080 - 350)));
}

#container{
    position: relative;
    height: 90vh;
    top: 10vh;
}