#infoSection a{
    display: block;
}

#FaqDiv{
    width: 50%;
    top: 10%;
    overflow: auto; 
    margin: 0 auto;
}

.fontControlFaq{
    font-size: calc(8px + (18 - 8) * ((100vmin - 350px) / (1080 - 350)));
}

#FaqIntro{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*About Us*/

/*Containers*/

#titleContainer{ 
    height: auto;
}

#imgAboutUsContainer{
    height: auto;
}

/* Fin Containers*/ 

#imgAboutUsContainer img{
    object-fit: contain;
    height: auto; 
}

.fontControlAboutUs{
    font-size: calc(20px + (64 - 20) * ((100vmin - 350px) / (1080 - 350)));
} 

.imgControlAboutUsAPND{
    max-width: calc(250px + (550 - 250) * ((100vmin - 350px) / (1080 - 350)));
} 

.fontControlInfoSection{
    font-size: calc(10px + (20 - 10) * ((100vmin - 350px) / (1080 - 350)));
}

.fontControlInfoSectionh4{
    font-size: calc(20px + (30 - 20) * ((100vmin - 350px) / (1080 - 350)));
}

#AboutUsContainer{
    width: 70%;
    height: 90%;
    top: 10%;
}

/* Fin About Us*/

@media screen and (max-width: 600px) {

#FaqDiv{
    width: 75%;
}

}

@media screen and (max-height: 540px) {

    #imgAboutUsContainer img{
        max-width: 150px;
    }
    
}

#APNDLOGO{
    width: 40px;
    height: 40px;
}