  .memory-game {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .memory-game .cards-grid {
    display: flex; /* Usa flexbox para alinear las cartas */
    flex-wrap: wrap; /* Permite que las cartas se envuelvan en varias filas */
    justify-content: center; /* Centra las cartas horizontalmente */
  }

  .memory-game .helpmont {
    cursor:pointer;
    margin-top: 2%;
  }
  


  .memory-game .card.flipped {
    transform: rotateY(180deg);

    transition: transform 0.5s ease; /* Duración y función de la transición */
  }

  .memory-game .controls {
    display: flex;
    justify-content: center; /* Cambiado a "center" para centrar los elementos */
    align-items: center;
    gap: 10%; /* Agregado para establecer un espacio entre los elementos */
  }
  .memory-game .card-group {
    margin-bottom: 20px; /* Espacio entre las filas de cartas */
  }
  
  .memory-game .card-group .card {
    cursor: pointer;
    flex: 0 0 calc(50% - 20px); /* Establece el ancho de la carta al 50% del contenedor, con margen */
    max-width: calc(50% - 20px); /* Establece el ancho máximo de la carta */
    margin-right: 20px; /* Espacio entre las cartas */
    margin-bottom: 20px; /* Espacio entre las cartas y las filas */
    border-radius: 14px 14px 0 0; /* Añade bordes redondeados a las cartas, solo en las esquinas superiores */
    overflow: hidden; /* Evita que las imágenes se desborden de las cartas */
    width: 200px; /* Ajusta el ancho de la carta */
    height: 250px; /* Ajusta el alto de la carta */
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Sombreado */

  }
  
  .memory-game .card-group .card:first-child,
  .memory-game .card-group .card:last-child {
    border-radius: 14px; /* Reinicia el borde superior o inferior para las cartas en los extremos */

  }
  
  
  .memory-game .btn {
    margin: 10px; /* Ajusta el valor según sea necesario */
  }

  .memory-game .button-container {
    display: none; /* Oculta el contenedor y, por lo tanto, el botón */
  }
  
  .memory-game .button-container {
    display: block; /* Muestra el contenedor y el botón cuando shouldFlipIncorrect es verdadero */
  }
  .memory-game .card .card-image {
    width: 100%; /* Haz que la imagen ocupe todo el ancho de la carta */
    height: 100%; /* Haz que la imagen ocupe todo el alto de la carta */
    object-fit: cover; /* Escala la imagen para que llene completamente su contenedor */
  }


  .memory-game .resultmont {
    animation: fadeInFromCenter 0.4s ease-out;
  }

  
  @keyframes fadeInFromCenter {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @media only screen and (max-width: 769px) {
    .card {
      flex: 0 0 calc(100% - 20px); /* En dispositivos con ancho menor o igual a 768px, establece el ancho de la carta al 100% del contenedor, con margen */
      max-width: calc(100% - 20px); /* Establece el ancho máximo de la carta */
    }
  }
