.memory-game {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .cards-grid {
    display: flex; /* Usa flexbox para alinear las cartas */
    flex-wrap: wrap; /* Permite que las cartas se envuelvan en varias filas */
    justify-content: center; /* Centra las cartas horizontalmente */
  }
  
  .card-group {
    margin-bottom: 20px; /* Espacio entre las filas de cartas */
  }
  
  .card {
    flex: 0 0 calc(50% - 20px); /* Establece el ancho de la carta al 50% del contenedor, con margen */
    max-width: calc(50% - 20px); /* Establece el ancho máximo de la carta */
    margin-right: 20px; /* Espacio entre las cartas */
    margin-bottom: 20px; /* Espacio entre las cartas y las filas */
    border-radius: 14px; /* Añade bordes redondeados a las cartas */
    overflow: hidden; /* Evita que las imágenes se desborden de las cartas */
    width: 200px; /* Ajusta el ancho de la carta */
    height: 250px; /* Ajusta el alto de la carta */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Sombreado */
    border: 0;
  }
  
  .card .card-image {
    border: 0;
    width: 100%; /* Haz que la imagen ocupe todo el ancho de la carta */
    height: 100%; /* Haz que la imagen ocupe todo el alto de la carta */
    object-fit: cover; /* Escala la imagen para que llene completamente su contenedor */
  }
  
  
  @media only screen and (max-width: 768px) {
    .card {
      flex: 0 0 calc(100% - 20px); /* En dispositivos con ancho menor o igual a 768px, establece el ancho de la carta al 100% del contenedor, con margen */
      max-width: calc(100% - 20px); /* Establece el ancho máximo de la carta */
    }
  }
  